.main_container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .main_body_section {
        flex: 1;
        overflow: auto;


        .main_body {
            max-width: 1000px;
            margin: 0 auto;
            width: 100%;
            padding: 0.5rem;
            box-sizing: border-box;
        }
    }
}