.home_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;



    .card {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .title {
            font-size: 24pt;
            margin: 0;
        }

        .description {
            margin: 0;
            color: gray;
        }
    }

}